@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:500,700&display=swap');

/*-----------------------------------------------------------------
CSS Format
------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

CSS Rest ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 16px;
    background-color: #101119;
    color: rgb(255, 222, 173);
}

h2,
h3 {
    font-family: 'Comfortaa', cursive;
}

p {
    font-family: sans-serif;
}

/*-----------------------------------------------------------------
Akhir CSS Format
------------------------------------------------------------------*/

/*-----------------------------------------------------------------
Setting Body
------------------------------------------------------------------*/

/*Setting Navigation bar*/

/*Awal Setting logo*/

.main-nav {
    height: 130px;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #3838339a;
}

.nav-logo {
    height: 100%;
    padding: 10px 15px;
    display: flex;
}

.nav-logo .center-box {
    margin: auto;
}

.nav-logo h1 {
    font-family: Averia Sans Libre;
    font-size: 35px;
    background: linear-gradient(to right, #eed29f 10%, #ff4500 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-logo h1 a {
    text-decoration: none;
}

.nav-logo img {
    width: 4em;
    height: 4em;
    margin: auto;
}

/*Akhir Setting logo*/


/*Settign main nav*/
.nav-menu {
    width: 65%;
    height: inherit;
    padding: 0px 15px;
}

.nav-menu .ulnav {
    display: flex;
    height: inherit;
}

.ulnav .center-box:first-child {
    border-left: 1px solid #3838339a;
}

.ulnav .center-box {
    display: flex;
    flex: 1;
    height: inherit;
    border-right: 1px solid #3838339a;
}

.ulnav .center-box a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav-menu .ulnav li img {
    display: block;
    margin: 30px auto 10px;
}

.nav-menu .ulnav li a {
    color: aliceblue;
    text-decoration: none;
    margin: auto;
    transition: 100ms;
    /*1000ms = 1s*/
}

.nav-menu .ulnav li a:hover {
    filter: invert(17%) sepia(51%) saturate(287%) hue-rotate(326deg) brightness(104%) contrast(97%);
    transform: scale(1.1);
}

/*Akhir Settign main nav*/


/*Setting search box*/
.searchBox {
    background: rgb(246, 238, 218);
    height: 57px;
    border-radius: 40px;
    padding: 8.5px;
    margin: auto;
    box-sizing: border-box;
}

.searchBox:focus-within>.searchInput {
    width: 10em;
    padding: 0 6px;
}

.searchBox:focus-within>.searchButton {
    background: rgb(255, 222, 173);
    color: #2f3640;
}

.searchButton {
    color: #e16f6f;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(214, 214, 188, 0.945);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.searchInput {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #21211c;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/*Akhir Setting search box*/